<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
  <meta charset="utf-8">
  <title>个人博客|MyBlog</title>
  <!-- Mobile specific metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <!-- Force IE9 to render in normal mode -->
  <!--[if IE]>
  <meta http-equiv="x-ua-compatible" content="IE=9"/><![endif]-->
  <meta name="author" content="SuggeElson"/>
  <meta name="description" content=""
  />
  <meta name="keywords" content=""
  />
  <meta name="application-name" content="sprFlat admin template"/>
  <!-- Import google fonts - Heading first/ text second -->
  <link rel='stylesheet' type='text/css'
        href='http://fonts.googleapis.com/css?family=Open+Sans:400,700|Droid+Sans:400,700'/>
  <!--[if lt IE 9]>
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:400" rel="stylesheet"
        type="text/css"/>
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:700" rel="stylesheet"
        type="text/css"/>
  <link href="http://fonts.googleapis.com/css?family=Droid+Sans:400" rel="stylesheet"
        type="text/css"/>
  <link href="http://fonts.googleapis.com/css?family=Droid+Sans:700" rel="stylesheet"
        type="text/css"/>
  <![endif]-->
  <!-- Css files -->
  <!-- Icons -->
  <link href="/assets/css/icons.css" rel="stylesheet"/>
  <!-- jQueryUI -->
  <link href="/assets/css/sprflat-theme/jquery.ui.all.css" rel="stylesheet"/>
  <!-- Bootstrap stylesheets (included template modifications) -->
  <link href="/assets/css/bootstrap.css" rel="stylesheet"/>
  <!-- Plugins stylesheets (all plugin custom css) -->
  <link href="/assets/css/plugins.css" rel="stylesheet"/>
  <!-- Main stylesheets (template main css file) -->
  <link href="/assets/css/main.css" rel="stylesheet"/>
  <!-- Custom stylesheets ( Put your own changes here ) -->
  <link href="/assets/css/custom.css" rel="stylesheet"/>
  <link href="/assets/css/ralap.core.css" rel="stylesheet"/>
</head>
<body>
<!-- Start #header -->
<div th:replace="/layout/header"></div>
<!-- End #header -->
<div class="container custome-container">
  <nav class="breadcrumb">
    <a class="crumbs" title="返回首页" th:href="@{/}" data-toggle="tooltip" data-placement="bottom"><i
        class="fa-home"></i>首页</a>
    <i class="fa-angle-right"></i>
    <a class="crumbs" title="点击查看该分类文章" th:href="@{'/type/' + ${article.bizType.id}}" data-toggle="tooltip" data-placement="bottom"><span th:text="${article.bizType.name}"></span></a>
    <i class="fa-angle-right"></i>正文
  </nav>

  <div class="row">

    <div class="col-md-9 blog-main">
      <div class="blog-body overflow-initial fade-in">
        <input type="hidden" id="articleId" th:value="${article.id}"/>
        <div class="article-flag" th:if="${article.original}">
          <span class="article-blockquote article-blockquote-green"></span>
          <span class="article-original article-original-green">
                            <a href="">原创</a>
            </span>
          <div class="blog-info-meta pull-right">
            <ul class="list-unstyled list-inline">
              <li><i class="en-clock" style="margin: 5px"></i><span
                  th:text="${'发表于'+#dates.format(article.createTime,'yyyy-MM-dd HH:mm')}"></span>
              </li>
              <li><i class="fa-eye-open" style="margin: 5px"></i><a class="pointer"
                                                                    th:data-original-title="${'('+article.lookCount +')人浏览了该文章'}"
                                                                    data-toggle="tooltip"
                                                                    data-placement="bottom">浏览
                (<span th:text="${article.lookCount == null ?0:article.lookCount}"></span>)</a>
              </li>
              <li><a href="#comment-box"
                     th:data-original-title="${'('+article.lookCount +')人评论了该文章'}"
                     data-toggle="tooltip" data-placement="bottom"><i class="fa-comment-alt"
                                                                      style="margin: 5px"></i>评论
                (<span
                    th:text="${article.lookCount == null ?0:article.lookCount}"></span>)</a></li>
            </ul>
          </div>
        </div>
        <div class="article-flag" th:if="${!article.original}">
          <span class="article-blockquote article-blockquote-red"></span>
          <span class="article-original article-original-red">
                            <a href="">转载</a>
                        </span>
          <div class="blog-info-meta pull-right">
            <ul class="list-unstyled list-inline">
              <li><i class="en-clock" style="margin: 5px"></i><span
                  th:text="${'发表于'+#dates.format(article.createTime,'yyyy-MM-dd HH:mm')}"></span>
              </li>
              <li><i class="fa-eye-open" style="margin: 5px"></i><a class="pointer"
                                                                    th:data-original-title="${'('+article.lookCount +')人浏览了该文章'}"
                                                                    data-toggle="tooltip"
                                                                    data-placement="bottom">浏览
                (<span th:text="${article.lookCount == null ?0:article.lookCount}"></span>)</a>
              </li>
              <li><a href="#comment-box"
                     th:data-original-title="${'('+article.lookCount +')人评论了该文章'}"
                     data-toggle="tooltip" data-placement="bottom"><i class="fa-comment-alt"
                                                                      style="margin: 5px"></i>评论
                (<span
                    th:text="${article.lookCount == null ?0:article.lookCount}"></span>)</a></li>
            </ul>
          </div>
        </div>

        <div class="blog-info overflow-initial">
          <div class="bottom-line">
            <h1 class="blog-info-title">
              <strong th:text="${article.title}"></strong>
            </h1>
          </div>
          <div class="blog-info-body" th:utext="${article.content}">

          </div>
          <div class="separateline"><span>正文到此结束</span></div>
          <div id="social" style="margin-bottom: 45px;">
            <div class="social-main">
                            <span class="like">
                              <a onclick="love()" id="love"
                                 title="点赞"><i
                                  class="fa-thumbs-up"></i>赞 <i class="count" id="loveCount"
                                                                th:text="${'('+article.loveCount+')'}"></i></a>
                            </span>
              <div class="shang-p">
                <div class="shang-empty"><span></span></div>
                <span class="shang-s"><a onclick=""
                                         style="cursor:pointer">赏</a> </span>
              </div>
              <div class="share-sd">
                  <span class="share-s"><a href="javascript:void(0)" id="share-s" title="分享"><i
                      class="fa-share-sign"></i>分享</a></span>
                <div id="share" style="display: none">
                  <ul class="bdsharebuttonbox bdshare-button-style1-16"
                      data-bd-bind="1516426362121">
                    <li><a title="分享到人人网" class="fa fa-renren" data-cmd="renren"
                           onclick="return false;" href="#"></a></li>
                    <li><a title="分享到腾讯微博" class="fa fa-pinterest-square" data-cmd="tqq"
                           onclick="return false;" href="#"></a></li>
                    <li><a title="分享到QQ空间" class="fa fa-qq" data-cmd="qzone"
                           onclick="return false;" href="#"></a></li>
                    <li><a title="分享到新浪微博" class="fa fa-weibo" data-cmd="tsina"
                           onclick="return false;" href="#"></a></li>
                    <li><a title="分享到微信" class="fa fa-weixin" data-cmd="weixin"
                           onclick="return false;" href="#"></a></li>
                    <li><a title="更多" class="bds_more fa fa-plus-square" data-cmd="more"
                           onclick="return false;" href="#"></a></li>
                  </ul>
                </div>
              </div>
              <div class="clear"></div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="col-md-3 sidebar-gutter">
      <div class="sidebar-module" style="position: relative;">

        <h5 class="sidebar-title"><i class="fa-hand-right icon"></i><strong>说给你听</strong></h5>
        <div class="widget" onclick="loadHitokoto()" style="cursor:pointer ">
          <div id="feed_widget">
            <div class="feed-about">
              <div class="about-main">
                <div class="div-quote">
                  <i class="fa-quote-left"></i>
                  <p style="margin-left: 10px" id="hitokoto"></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="sidebar-module">
        <h5 class="sidebar-title"><i class="fa-tags icon"></i><strong>文章标签</strong></h5>
        <ul class="list-unstyled list-inline">
          <li class="tag-li" th:each="tags:${tagsList}">
            <a  class="btn btn-default btn-xs" href=""
                th:title="${tags.name}" data-toggle="tooltip" data-placement="bottom" th:text="${tags.name}">
            </a>
          </li>

        </ul>
      </div>
    </div>
  </div>
</div>
<footer class="footer">
  <div class="clear">
    <p>托管于<a
        href="https://promotion.aliyun.com/ntms/act/ambassador/sharetouser.html?userCode=wylo59db"
        target="_blank" title="阿里云-为了无法计算的价值" data-toggle="tooltip" data-placement="bottom"
        rel="external nofollow">阿里云</a> & <a href="https://www.qiniu.com/" target="_blank"
                                             title="七牛云-国内领先的企业级云服务商" data-toggle="tooltip"
                                             data-placement="bottom" rel="external nofollow">七牛云</a>
      · <a href="http://www.miitbeian.gov.cn/publish/query/indexFirst.action" target="_blank"
           title="查看备案信息" data-toggle="tooltip" data-placement="bottom"
           rel="external nofollow"> </a>
    </p>
    <p>Copyright&copy;2016-</p>
  </div>
</footer>
<!-- End #content -->
<!-- Javascripts -->
<!-- Load pace first -->
<script src="/assets/plugins/core/pace/pace.min.js"></script>
<!-- Important javascript libs(put in all pages) -->
<script src="/assets/js/jquery-1.8.3.min.js"></script>
<script>
  window.jQuery || document.write('<script src="/assets/js/libs/jquery-2.1.1.min.js">\x3C/script>')
</script>
<script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
<script>
  window.jQuery || document.write(
      '<script src="/assets/js/libs/jquery-ui-1.10.4.min.js">\x3C/script>')
</script>
<!--[if lt IE 9]>
<script type="text/javascript" src="/assets/js/libs/excanvas.min.js"></script>
<script type="text/javascript" src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<script type="text/javascript" src="/assets/js/libs/respond.min.js"></script>
<![endif]-->
<!-- Bootstrap plugins -->
<script src="/assets/js/bootstrap/bootstrap.js"></script>
<!-- Core plugins ( not remove ever) -->
<!-- Handle responsive view functions -->
<script src="/assets/js/jRespond.min.js"></script>
<!-- Custom scroll for sidebars,tables and etc. -->
<script src="/assets/plugins/core/slimscroll/jquery.slimscroll.min.js"></script>
<script src="/assets/plugins/core/slimscroll/jquery.slimscroll.horizontal.min.js"></script>
<!-- Resize text area in most pages -->
<script src="/assets/plugins/forms/autosize/jquery.autosize.js"></script>
<!-- Proivde quick search for many widgets -->
<script src="/assets/plugins/core/quicksearch/jquery.quicksearch.js"></script>
<!-- Bootbox confirm dialog for reset postion on panels -->
<script src="/assets/plugins/ui/bootbox/bootbox.js"></script>
<!-- Other plugins ( load only nessesary plugins for every page) -->
<script src="/assets/plugins/core/moment/moment.min.js"></script>
<script src="/assets/plugins/charts/sparklines/jquery.sparkline.js"></script>
<script src="/assets/plugins/charts/pie-chart/jquery.easy-pie-chart.js"></script>
<script src="/assets/plugins/forms/icheck/jquery.icheck.js"></script>
<script src="/assets/plugins/forms/tags/jquery.tagsinput.min.js"></script>
<script src="/assets/plugins/forms/tinymce/tinymce.min.js"></script>
<script src="/assets/plugins/misc/highlight/highlight.pack.js"></script>
<script src="/assets/plugins/misc/countTo/jquery.countTo.js"></script>
<script src="/assets/js/jquery.sprFlat.js"></script>
<script src="/assets/js/app.js"></script>
<script src="/assets/js/pages/blank.js"></script>
<script src="/assets/js/ralap.core.js"></script>
<script src="/assets/js/ralap.js"></script>
</body>
<script type="text/javascript">
  $(function () {
    loadHitokoto();
  });

  //加载Hitokoto
  function loadHitokoto() {
    var hitokotoUrl = "https://v1.hitokoto.cn/?c=f&encode=text";
    var hitokoto = $('#hitokoto');
    $.ajax({
      type: 'get',
      url: hitokotoUrl,
      success: function (text) {
        hitokoto.text(text);
      }
    })
  }

  function love() {
    var articleId = $('#articleId').val();
    var loveCountStr = $('#loveCount')[0].innerText;
    var loveCount = Number(loveCountStr.substring(1, loveCountStr.length - 1));

    var loveUrl = "/love/" + articleId;
    $.ajax({
      type: 'get',
      url: loveUrl,
      success: function () {
        $('#loveCount')[0].innerText = '(' + ++loveCount + ')';
        $('#love').removeAttr('href');
        $('#love').removeAttr('onclick');
      }
    })
  }
</script>
</html>