<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
  <meta charset="utf-8">
  <title>Blank page</title>
  <!-- Mobile specific metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <!-- Force IE9 to render in normal mode -->
  <!--[if IE]>
  <meta http-equiv="x-ua-compatible" content="IE=9"/><![endif]-->
  <meta name="author" content="SuggeElson"/>
  <meta name="description" content=""
  />
  <meta name="keywords" content=""
  />
  <meta name="application-name" content="sprFlat admin template"/>
  <!-- Import google fonts - Heading first/ text second -->
  <link rel='stylesheet' type='text/css'
        href='http://fonts.googleapis.com/css?family=Open+Sans:400,700|Droid+Sans:400,700'/>
  <!--[if lt IE 9]>
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:400" rel="stylesheet"
        type="text/css"/>
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:700" rel="stylesheet"
        type="text/css"/>
  <link href="http://fonts.googleapis.com/css?family=Droid+Sans:400" rel="stylesheet"
        type="text/css"/>
  <link href="http://fonts.googleapis.com/css?family=Droid+Sans:700" rel="stylesheet"
        type="text/css"/>
  <![endif]-->
  <!-- Css files -->
  <!-- Icons -->
  <link href="/assets/css/icons.css" rel="stylesheet"/>
  <!-- jQueryUI -->
  <link href="/assets/css/sprflat-theme/jquery.ui.all.css" rel="stylesheet"/>
  <!-- Bootstrap stylesheets (included template modifications) -->
  <link href="/assets/css/bootstrap.css" rel="stylesheet"/>
  <!-- Plugins stylesheets (all plugin custom css) -->
  <link href="/assets/css/plugins.css" rel="stylesheet"/>
  <!-- Main stylesheets (template main css file) -->
  <link href="/assets/css/main.css" rel="stylesheet"/>
  <!-- Custom stylesheets ( Put your own changes here ) -->
  <link href="/assets/css/custom.css" rel="stylesheet"/>
  <link href="/assets/css/zhyd.core.css" rel="stylesheet"/>
</head>
<body>
<!-- Start #header -->
<div th:replace="/layout/header"></div>
<!-- End #header -->
<div class="container" style="margin-top: 65px;">
  <section>
    <div class="row">
      <div class="col-md-9 blog-main">
        <div class="blog-body overflow-initial fade-in">
          <div class="blog-info overflow-initial">
            <div class="bottom-line">
              <h1 class="blog-info-title">
                <strong th:text="${article.title}"></strong>
              </h1>
            </div>
            <div class="blog-info-body" th:utext="${article.content}">

            </div>
            <div class="separateline"><span>正文到此结束</span></div>
          </div>

        </div>
      </div>
      <div class="col-md-3 sidebar-gutter">
        <div class="sidebar-module" style="position: relative;">
          <a href='https://gitee.com/itFanRalap/my_blog' target="_blank"
             rel="external nofollow"><img
              src='https://gitee.com/itFanRalap/my_blog/widgets/widget_1.svg?color=C71D24'
              alt='Fork me on Gitee' style="position: absolute;right: 0;"/></a>
          <h5 class="sidebar-title"><i class="fa fa-home icon"></i><strong>关于我</strong></h5>
          <div class="widget">
            <div id="feed_widget">
              <div class="feed-about">
                <div class="about-main">
                  <div class="about-img"><a href="${config.staticWebSite}/img/wx_300px.png"
                                            class="showImage" title="微信公众号"><img
                      src="/assets/img/blog/WX.jpg" alt="微信公众号"></a></div>
                  <div class="about-name">Ralap</div>
                  <div class="about-the">我就是我,不一样的烟火</div>
                </div>
                <div class="clear"></div>
                <ul class="widget-icon" style="align-content: center">
                  <li class="tqq auto-shake">
                    <a class="tag-icon"
                       href="javascript:window.open('tencent://message/?uin=843977358&Site=www.${config.domain}&Menu=yes')"
                       title="点击QQ联系我" target="blank" rel="external nofollow"><i class="en-qq"></i></a>
                  </li>
                  <li class="tsina auto-shake">
                    <a class="tag-icon" href="http://weibo.com/211230415" title="点击查看我的微博"
                       target="_blank" rel="external nofollow"><i class="fa-weibo"></i></a>
                  </li>
                  <li class="github auto-shake">
                    <a class="tag-icon" href="https://github.com/Noing/my_blog" title="点击查看我的github"
                       target="_blank" rel="external nofollow"><i class="en-github"></i></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<footer class="footer">
  <div class="clear">
    <p>托管于<a
        href="https://promotion.aliyun.com/ntms/act/ambassador/sharetouser.html?userCode=wylo59db"
        target="_blank" title="阿里云-为了无法计算的价值" data-toggle="tooltip" data-placement="bottom"
        rel="external nofollow">阿里云</a> & <a href="https://www.qiniu.com/" target="_blank"
                                             title="七牛云-国内领先的企业级云服务商" data-toggle="tooltip"
                                             data-placement="bottom" rel="external nofollow">七牛云</a>
      · <a href="http://www.miitbeian.gov.cn/publish/query/indexFirst.action" target="_blank"
           title="查看备案信息" data-toggle="tooltip" data-placement="bottom"
           rel="external nofollow"> </a>
    </p>
    <p>Copyright&copy;2016-</p>
  </div>
</footer>
<!-- End #content -->
<!-- Javascripts -->
<!-- Load pace first -->
<script src="/assets/plugins/core/pace/pace.min.js"></script>
<!-- Important javascript libs(put in all pages) -->
<script src="/assets/js/jquery-1.8.3.min.js"></script>
<script>
  window.jQuery || document.write('<script src="/assets/js/libs/jquery-2.1.1.min.js">\x3C/script>')
</script>
<script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
<script>
  window.jQuery || document.write(
      '<script src="/assets/js/libs/jquery-ui-1.10.4.min.js">\x3C/script>')
</script>
<!--[if lt IE 9]>
<script type="text/javascript" src="/assets/js/libs/excanvas.min.js"></script>
<script type="text/javascript" src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<script type="text/javascript" src="/assets/js/libs/respond.min.js"></script>
<![endif]-->
<!-- Bootstrap plugins -->
<script src="/assets/js/bootstrap/bootstrap.js"></script>
<!-- Core plugins ( not remove ever) -->
<!-- Handle responsive view functions -->
<script src="/assets/js/jRespond.min.js"></script>
<!-- Custom scroll for sidebars,tables and etc. -->
<script src="/assets/plugins/core/slimscroll/jquery.slimscroll.min.js"></script>
<script src="/assets/plugins/core/slimscroll/jquery.slimscroll.horizontal.min.js"></script>
<!-- Resize text area in most pages -->
<script src="/assets/plugins/forms/autosize/jquery.autosize.js"></script>
<!-- Proivde quick search for many widgets -->
<script src="/assets/plugins/core/quicksearch/jquery.quicksearch.js"></script>
<!-- Bootbox confirm dialog for reset postion on panels -->
<script src="/assets/plugins/ui/bootbox/bootbox.js"></script>
<!-- Other plugins ( load only nessesary plugins for every page) -->
<script src="/assets/plugins/core/moment/moment.min.js"></script>
<script src="/assets/plugins/charts/sparklines/jquery.sparkline.js"></script>
<script src="/assets/plugins/charts/pie-chart/jquery.easy-pie-chart.js"></script>
<script src="/assets/plugins/forms/icheck/jquery.icheck.js"></script>
<script src="/assets/plugins/forms/tags/jquery.tagsinput.min.js"></script>
<script src="/assets/plugins/forms/tinymce/tinymce.min.js"></script>
<script src="/assets/plugins/misc/highlight/highlight.pack.js"></script>
<script src="/assets/plugins/misc/countTo/jquery.countTo.js"></script>
<script src="/assets/js/jquery.sprFlat.js"></script>
<script src="/assets/js/app.js"></script>
<script src="/assets/js/pages/blank.js"></script>
<script src="/assets/js/zhyd.core.js"></script>
<script src="/assets/js/zhyd.js"></script>
</body>
</html>