<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<body>
<!-- Start #header -->
<div th:replace="layout/header"></div>
<!-- End #header -->
<div class="container" style="margin-top: 65px;">
  <section>
    <div class="row">
      <div class="col-md-9 blog-main">
        <input type="hidden" id="pageNum" th:value="${page.pageNum}">
        <input type="hidden" id="typeId" th:value="${typeId}">
        <!--/*@thymesVar id="articleList" type="com.ralap.blog.persistent.beans.BizArticle"*/-->
        <article class="fade-in" th:each="article:${page.list}">
          <span class="title-l"></span>
          <figure class="thumbnail">
            <a th:href="@{'/article/' + ${article.id}}">
              <img width="150" height="150"
                   th:src="${article.coverUrl}+'-eq_150'"
                   class="img-responsive lazy-img"/>
            </a>
            <span class="cat"><a href="" th:text="${article.bizType.name}"></a></span>
          </figure>
          <header class="entry-header">
            <h2 class="entry-title">
              <span class="btn btn-danger" th:if="${article.top}" title="该文章为置顶文章"
                    data-toggle="tooltip" data-placement="bottom">置顶</span>
              <a th:href="@{'/article/' + ${article.id}}" rel="bookmark" title="点击查看文章详情"
                 data-toggle="tooltip"
                 data-placement="bottom" th:text="${article.title}"></a>
            </h2>
          </header>
          <div class="entry-content">
            <div class="archive-content" th:text="${article.description}">
            </div>
            <span class="title-l"></span>
            <span class="entry-meta">
              <span class="date" title="文章发表日期" data-toggle="tooltip" data-placement="bottom">
                <i class="fa-calendar-empty" style="padding: 5px"></i><span
                  th:text="${#dates.format(article.createTime,'yyyy-MM-dd HH:mm')}"></span>
              </span>
              <span style="padding-left:10px ;" class="views" title="文章阅读数" data-toggle="tooltip"
                    data-placement="bottom"><i class="fa-eye-open"
                                               style="padding: 5px"
                                               th:text="'浏览('+${article.lookCount}+')'"></i></span>
              <span style="padding-left: 10px" class="comment" title="文章评论次数" data-toggle="tooltip"
                    data-placement="bottom">
                <a href=""><i class="fa-comment-alt" style="padding: 5px"></i>评论</a>
              </span>
            </span>
            <div class="clear"></div>
            <span class="entry-more">
                                <a th:href="@{'/article/' + ${article.id}}" rel="bookmark"
                                   title="点击查看文章详情" data-toggle="tooltip" data-placement="bottom">阅读全文</a>
                            </span>


          </div>
        </article>
        <div id="addArticle"></div>
        <!-- article -->

        <div th:style="'display:' + @{(${page.list.size()} ? 'none' : 'block')}">
          <img style="width: 100%" src="/assets/img/blog/no-article.jpg">
        </div>

        <div style="text-align: center" th:if="${page.hasNextPage}">
          <button type="button" id="loadMore" data-loading-text="加载中..." class="btn btn-success"
                  autocomplete="off">
            加载更多
          </button>
        </div>

      </div>
      <div class="col-md-3 sidebar-gutter">
        <div th:replace="layout/sidebar :: about"></div>
        <div th:replace="layout/sidebar :: menu"></div>
        <div th:replace="layout/sidebar :: tag"></div>


      </div>
    </div>
  </section>
</div>
<div th:replace="layout/footer"></div>
<!-- End #content -->
<!-- Javascripts -->
<!-- Load pace first -->

<script>
  var pageN = $("#pageNum");
  pageN.val(Number(1));
  $('#loadMore').click(function () {
    var pageNum = $("#pageNum");
    var loadMore = $("#loadMore");
    var typeN = $("#typeId");
    var typeId = typeN.val();
    var pateNumber = Number(pageNum.val()) + 1;
    var data = jQuery.param({"pageNumber": pateNumber, "typeId": typeId});
    loadMore.button('loading');

    $.ajax({
      type: "post",
      url: "/web/articlePage",
      data: data,
      success: function (result) {
        if (!result.data.hasNextPage) {
          loadMore.hide();
        }
        pageNum.val(pateNumber);
        var addArticle = $('#addArticle');
        var articleList = '';
        for (var i = 0; i < result.data.list.length; i++) {
          var article = result.data.list[i];
          articleList += "<article class=\"fade-in\">\n"
              + "          <span class=\"title-l\"></span>\n"
              + "          <figure class=\"thumbnail\">\n"
              + "            <a href=\"/article/" + article.id + "\">\n"
              + "              <img width=\"150\" height=\"150\"\n"
              + "                   src=\"" + article.coverUrl + "-eq_150\"\n"
              + "                   class=\"img-responsive lazy-img\"/>\n"
              + "            </a>\n"
              + "            <span class=\"cat\"><a href=\"\">" + article.bizType.name
              + "</a></span>\n"
              + "          </figure>\n"
              + "          <header class=\"entry-header\">\n"
              + "            <h2 class=\"entry-title\">\n"
              + "              <a href=\"/article/" + article.id
              + "\" rel=\"bookmark\" title=\"点击查看文章详情\" data-toggle=\"tooltip\"\n"
              + "                 data-placement=\"bottom\">" + article.title + "</a>\n"
              + "            </h2>\n"
              + "          </header>\n"
              + "          <div class=\"entry-content\">\n"
              + "            <div class=\"archive-content\">" + article.description + "\n"
              + "            </div>\n"
              + "            <span class=\"title-l\"></span>\n"
              + "            <span class=\"entry-meta\">\n"
              + "              <span class=\"date\" title=\"文章发表日期\" data-toggle=\"tooltip\" data-placement=\"bottom\">\n"
              + "                <i class=\"fa-calendar-empty\" style=\"padding: 5px\"></i><span\n"
              + "                  >" + article.createTimeStr + "</span>\n"
              + "              </span>\n"
              + "              <span style=\"padding-left:10px ;\" class=\"views\" title=\"文章阅读数\" data-toggle=\"tooltip\"\n"
              + "                    data-placement=\"bottom\"><i class=\"fa-eye-open\"\n"
              + "                                               style=\"padding: 5px\"></i>浏览("
              + article.lookCount + ") </span>\n"
              + "              <span style=\"padding-left: 10px\" class=\"comment\" title=\"文章评论次数\" data-toggle=\"tooltip\"\n"
              + "                    data-placement=\"bottom\">\n"
              + "                <a href=\"\"><i class=\"fa-comment-alt\" style=\"padding: 5px\"></i>评论</a>\n"
              + "              </span>\n"
              + "            </span>\n"
              + "            <div class=\"clear\"></div>\n"
              + "            <span class=\"entry-more\">\n"
              + "                                <a href=\"/article/" + article.id
              + "\" rel=\"bookmark\"\n"
              + "                                   title=\"点击查看文章详情\" data-toggle=\"tooltip\" data-placement=\"bottom\">阅读全文</a>\n"
              + "                            </span>\n"
              + "\n"
              + "\n"
              + "          </div>\n"
              + "        </article>";

        }
        addArticle.append(articleList);
      },
      error: $.tool.ajaxError

    });
    setTimeout(function () {
      loadMore.button('reset');
    }, 100);

  });
</script>
</body>
</html>