<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
  <meta charset="utf-8">
  <title>个人博客|MyBlog</title>
  <!-- Mobile specific metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <!-- Force IE9 to render in normal mode -->
  <!--[if IE]>
  <meta http-equiv="x-ua-compatible" content="IE=9"/><![endif]-->
  <meta name="author" content="SuggeElson"/>
  <meta name="description" content=""
  />
  <meta name="keywords" content=""
  />
  <meta name="application-name" content="sprFlat admin template"/>
  <!-- Import google fonts - Heading first/ text second -->
  <link rel='stylesheet' type='text/css'
        href='http://fonts.googleapis.com/css?family=Open+Sans:400,700|Droid+Sans:400,700'/>
  <!--[if lt IE 9]>
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:400" rel="stylesheet"
        type="text/css"/>
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:700" rel="stylesheet"
        type="text/css"/>
  <link href="http://fonts.googleapis.com/css?family=Droid+Sans:400" rel="stylesheet"
        type="text/css"/>
  <link href="http://fonts.googleapis.com/css?family=Droid+Sans:700" rel="stylesheet"
        type="text/css"/>
  <![endif]-->
  <!-- Css files -->
  <!-- Icons -->
  <link href="/assets/css/icons.css" rel="stylesheet"/>
  <!-- jQueryUI -->
  <link href="/assets/css/sprflat-theme/jquery.ui.all.css" rel="stylesheet"/>
  <!-- Bootstrap stylesheets (included template modifications) -->
  <link href="/assets/css/bootstrap.css" rel="stylesheet"/>
  <!-- Plugins stylesheets (all plugin custom css) -->
  <link href="/assets/css/plugins.css" rel="stylesheet"/>
  <!-- Main stylesheets (template main css file) -->
  <link href="/assets/css/main.css" rel="stylesheet"/>
  <!-- Custom stylesheets ( Put your own changes here ) -->
  <link href="/assets/css/custom.css" rel="stylesheet"/>
  <link href="/assets/css/ralap.core.css" rel="stylesheet"/>
</head>
<body>
<!-- Start #header -->
<div th:replace="layout/header"></div>
<!-- End #header -->
<div class="container" style="margin-top: 65px;">
  <section>
    <div class="row">
      <div class="col-md-9 blog-main">
        <input type="hidden" id="pageNum" th:value="${page.pageNum}">
        <input type="hidden" id="typeId" th:value="${typeId}">
        <!--/*@thymesVar id="articleList" type="com.ralap.blog.persistent.beans.BizArticle"*/-->
        <article class="fade-in" th:each="article:${page.list}">
          <span class="title-l"></span>
          <figure class="thumbnail">
            <a th:href="@{'/article/' + ${article.id}}">
              <img width="150" height="150"
                   th:src="${article.coverUrl}+'-eq_150'"
                   class="img-responsive lazy-img"/>
            </a>
            <span class="cat"><a href="" th:text="${article.bizType.name}"></a></span>
          </figure>
          <header class="entry-header">
            <h2 class="entry-title">
              <span class="btn btn-danger" th:if="${article.top}" title="该文章为置顶文章" data-toggle="tooltip" data-placement="bottom">置顶</span>
              <a th:href="@{'/article/' + ${article.id}}" rel="bookmark" title="点击查看文章详情"
                 data-toggle="tooltip"
                 data-placement="bottom" th:text="${article.title}"></a>
            </h2>
          </header>
          <div class="entry-content">
            <div class="archive-content" th:text="${article.description}">
            </div>
            <span class="title-l"></span>
            <span class="entry-meta">
              <span class="date" title="文章发表日期" data-toggle="tooltip" data-placement="bottom">
                <i class="fa-calendar-empty" style="padding: 5px"></i><span
                  th:text="${#dates.format(article.createTime,'yyyy-MM-dd HH:mm')}"></span>
              </span>
              <span style="padding-left:10px ;" class="views" title="文章阅读数" data-toggle="tooltip"
                    data-placement="bottom"><i class="fa-eye-open"
                                               style="padding: 5px"
                                               th:text="'浏览('+${article.lookCount}+')'"></i></span>
              <span style="padding-left: 10px" class="comment" title="文章评论次数" data-toggle="tooltip"
                    data-placement="bottom">
                <a href=""><i class="fa-comment-alt" style="padding: 5px"></i>评论</a>
              </span>
            </span>
            <div class="clear"></div>
            <span class="entry-more">
                                <a th:href="@{'/article/' + ${article.id}}" rel="bookmark"
                                   title="点击查看文章详情" data-toggle="tooltip" data-placement="bottom">阅读全文</a>
                            </span>


          </div>
        </article>
        <div id="addArticle"></div>
        <!-- article -->

        <div th:style="'display:' + @{(${page.list.size()} ? 'none' : 'block')}">
          <img style="width: 100%" src="/assets/img/blog/no-article.jpg">
        </div>

        <div style="text-align: center" th:if="${page.hasNextPage}">
          <button type="button" id="loadMore" data-loading-text="加载中..." class="btn btn-success"
                  autocomplete="off">
            加载更多
          </button>
        </div>

      </div>
      <div class="col-md-3 sidebar-gutter">
        <div th:replace="layout/sidebar :: about"></div>
        <div th:replace="layout/sidebar :: menu"></div>
        <div th:replace="layout/sidebar :: tag"></div>


      </div>
    </div>
  </section>
</div>
<footer class="footer">
  <div class="clear">
    <p>托管于<a
        href="https://promotion.aliyun.com/ntms/act/ambassador/sharetouser.html?userCode=wylo59db"
        target="_blank" title="阿里云-为了无法计算的价值" data-toggle="tooltip" data-placement="bottom"
        rel="external nofollow">阿里云</a> & <a href="https://www.qiniu.com/" target="_blank"
                                             title="七牛云-国内领先的企业级云服务商" data-toggle="tooltip"
                                             data-placement="bottom" rel="external nofollow">七牛云</a>
      · <a href="http://www.miitbeian.gov.cn/publish/query/indexFirst.action" target="_blank"
           title="查看备案信息" data-toggle="tooltip" data-placement="bottom"
           rel="external nofollow"> </a>
    </p>
    <p>Copyright&copy;2016-</p>
  </div>
</footer>
<!-- End #content -->
<!-- Javascripts -->
<!-- Load pace first -->
<script src="/assets/plugins/core/pace/pace.min.js"></script>
<!-- Important javascript libs(put in all pages) -->
<script src="/assets/js/jquery-1.8.3.min.js"></script>
<script>
  window.jQuery || document.write('<script src="/assets/js/libs/jquery-2.1.1.min.js">\x3C/script>')
</script>
<script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
<script>
  window.jQuery || document.write(
      '<script src="/assets/js/libs/jquery-ui-1.10.4.min.js">\x3C/script>')
</script>
<!--[if lt IE 9]>
<script type="text/javascript" src="/assets/js/libs/excanvas.min.js"></script>
<script type="text/javascript" src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<script type="text/javascript" src="/assets/js/libs/respond.min.js"></script>
<![endif]-->
<!-- Bootstrap plugins -->
<script src="/assets/js/bootstrap/bootstrap.js"></script>
<!-- Core plugins ( not remove ever) -->
<!-- Handle responsive view functions -->
<script src="/assets/js/jRespond.min.js"></script>
<!-- Custom scroll for sidebars,tables and etc. -->
<script src="/assets/plugins/core/slimscroll/jquery.slimscroll.min.js"></script>
<script src="/assets/plugins/core/slimscroll/jquery.slimscroll.horizontal.min.js"></script>
<!-- Resize text area in most pages -->
<script src="/assets/plugins/forms/autosize/jquery.autosize.js"></script>
<!-- Proivde quick search for many widgets -->
<script src="/assets/plugins/core/quicksearch/jquery.quicksearch.js"></script>
<!-- Bootbox confirm dialog for reset postion on panels -->
<script src="/assets/plugins/ui/bootbox/bootbox.js"></script>
<!-- Other plugins ( load only nessesary plugins for every page) -->
<script src="/assets/plugins/core/moment/moment.min.js"></script>
<script src="/assets/plugins/charts/sparklines/jquery.sparkline.js"></script>
<script src="/assets/plugins/charts/pie-chart/jquery.easy-pie-chart.js"></script>
<script src="/assets/plugins/forms/icheck/jquery.icheck.js"></script>
<script src="/assets/plugins/forms/tags/jquery.tagsinput.min.js"></script>
<script src="/assets/plugins/forms/tinymce/tinymce.min.js"></script>
<script src="/assets/plugins/misc/highlight/highlight.pack.js"></script>
<script src="/assets/plugins/misc/countTo/jquery.countTo.js"></script>
<script src="/assets/js/jquery.sprFlat.js"></script>
<script src="/assets/js/app.js"></script>
<script src="/assets/js/pages/blank.js"></script>
<script src="/assets/js/ralap.core.js"></script>
<script src="/assets/js/ralap.js"></script>
<script src="/assets/js/jquery-form.js"></script>
<script src="/assets/js/blog.tool.js"></script>
<script src="https://cdn.bootcss.com/jquery-confirm/2.5.1/jquery-confirm.min.js"></script>
<script>
  var pageN = $("#pageNum");
  pageN.val(Number(1));
  $('#loadMore').click(function () {
    var pageNum = $("#pageNum");
    var loadMore = $("#loadMore");
    var typeN = $("#typeId");
    var typeId = typeN.val();
    var pateNumber = Number(pageNum.val()) + 1;
    var data = jQuery.param({"pageNum": pateNumber, "typeId": typeId});
    loadMore.button('loading');

    $.ajax({
      type: "post",
      url: "/web/articlePage",
      data: data,
      success: function (result) {
        if (!result.data.hasNextPage) {
          loadMore.hide();
        }
        pageNum.val(pateNumber);
        var addArticle = $('#addArticle');
        var articleList = '';
        for (var i = 0; i < result.data.list.length; i++) {
          var article = result.data.list[i];
          articleList += "<article class=\"fade-in\">\n"
              + "          <span class=\"title-l\"></span>\n"
              + "          <figure class=\"thumbnail\">\n"
              + "            <a href=\"/article/" + article.id + "\">\n"
              + "              <img width=\"150\" height=\"150\"\n"
              + "                   src=\"" + article.coverUrl + "-eq_150\"\n"
              + "                   class=\"img-responsive lazy-img\"/>\n"
              + "            </a>\n"
              + "            <span class=\"cat\"><a href=\"\">" + article.bizType.name
              + "</a></span>\n"
              + "          </figure>\n"
              + "          <header class=\"entry-header\">\n"
              + "            <h2 class=\"entry-title\">\n"
              + "              <a href=\"/article/" + article.id
              + "\" rel=\"bookmark\" title=\"点击查看文章详情\" data-toggle=\"tooltip\"\n"
              + "                 data-placement=\"bottom\">" + article.title + "</a>\n"
              + "            </h2>\n"
              + "          </header>\n"
              + "          <div class=\"entry-content\">\n"
              + "            <div class=\"archive-content\">" + article.description + "\n"
              + "            </div>\n"
              + "            <span class=\"title-l\"></span>\n"
              + "            <span class=\"entry-meta\">\n"
              + "              <span class=\"date\" title=\"文章发表日期\" data-toggle=\"tooltip\" data-placement=\"bottom\">\n"
              + "                <i class=\"fa-calendar-empty\" style=\"padding: 5px\"></i><span\n"
              + "                  >" + article.createTime + "</span>\n"
              + "              </span>\n"
              + "              <span style=\"padding-left:10px ;\" class=\"views\" title=\"文章阅读数\" data-toggle=\"tooltip\"\n"
              + "                    data-placement=\"bottom\"><i class=\"fa-eye-open\"\n"
              + "                                               style=\"padding: 5px\"></i>浏览("
              + article.lookCount + ") </span>\n"
              + "              <span style=\"padding-left: 10px\" class=\"comment\" title=\"文章评论次数\" data-toggle=\"tooltip\"\n"
              + "                    data-placement=\"bottom\">\n"
              + "                <a href=\"\"><i class=\"fa-comment-alt\" style=\"padding: 5px\"></i>评论</a>\n"
              + "              </span>\n"
              + "            </span>\n"
              + "            <div class=\"clear\"></div>\n"
              + "            <span class=\"entry-more\">\n"
              + "                                <a href=\"/article/" + article.id
              + "\" rel=\"bookmark\"\n"
              + "                                   title=\"点击查看文章详情\" data-toggle=\"tooltip\" data-placement=\"bottom\">阅读全文</a>\n"
              + "                            </span>\n"
              + "\n"
              + "\n"
              + "          </div>\n"
              + "        </article>";

        }
        addArticle.append(articleList);
      },
      error: $.tool.ajaxError

    });
    setTimeout(function () {
      loadMore.button('reset');
    }, 100);

  });
</script>
</body>
</html>