<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<!-- Start #header -->
<div th:replace="layout/header"></div>
<!-- End #header -->
<!-- Start #sidebar -->
<div th:replace="layout/sidebar"></div>

<!-- End #sidebar -->
<!-- Start #right-sidebar -->

<!-- End #right-sidebar -->
<!-- Start #content -->
<div id="content">
  <!-- Start .content-wrapper -->
  <div class="content-wrapper">
    <div th:replace="layout/topbar"></div>
    <!-- End .row -->
    <div class="outlet">
      <!-- Start .outlet -->
      <!-- Page start here ( usual with .row ) -->
      <div class="row">
        <!-- Start .row -->
        <div class="col-lg-12">
          <div>
            <div>

              <div class="btn-group hidden-xs" id="toolbar">

                <button id="btn_add" type="button" class="btn btn-default" title="新增菜单">
                  <i class="fa-plus"></i> 新增菜单
                </button>
                <button id="btn_delete_ids" type="button" class="btn btn-default" title="删除选中">
                  <i class="fa-trash"></i> 批量删除
                </button>
              </div>
              <!-- Start col-lg-12 -->
              <table id="tablelist">
              </table>

              <!-- End .panel -->
            </div>
            <!-- End col-lg-12 -->
          </div>
          <!-- End .row -->
          <!-- Page End here -->
        </div>
        <!-- End .outlet -->
      </div>
      <!-- End .content-wrapper -->


    </div>
    <div th:replace="layout/footer"></div>

    <div class="modal fade" id="addOrUpdateModal" tabindex="-1" role="dialog"
         aria-labelledby="addroleLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="addroleLabel">添加菜单</h4>
          </div>
          <div class="modal-body">
            <form id="addOrUpdateForm" class="form-horizontal form-label-left" novalidate>
              <input type="hidden" name="id" id="id">
              <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">菜单名称: <span
                    class="required">*</span></label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <input type="text" class="form-control col-md-7 col-xs-12" name="name"
                         id="name" required="required" placeholder="请输菜单名称"/>
                </div>
              </div>
              <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="type">类型: <span
                    class="required">*</span></label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <select id="type" name="type" class="form-control col-md-7 col-xs-12">
                    <option value="MENU">MENU</option>
                    <option value="BUTTON">BUTTON</option>
                  </select>
                </div>
              </div>
              <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="url">路径:</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <input type="text" class="form-control col-md-7 col-xs-12" name="url"
                         id="url" placeholder="请输入路径"/>
                </div>
              </div>
              <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="parentId">父菜单:</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <input type="text" class="form-control col-md-7 col-xs-12"
                         id="parentName" readonly/>
                  <input type="hidden" name="parentId" id="parentId"/>

                </div>
                <button class="btn btn-primary col-md-2 col-xs-12" type="button" id="show_menu_all">
                  选择
                </button>
              </div>
              <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12"
                       for="available">是否有效:</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <select id="available" name="available" class="form-control col-md-7 col-xs-12">
                    <option value="1">是</option>
                    <option value="0">否</option>
                  </select>
                </div>

              </div>
              <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="icon">图标:</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <input type="text" class="form-control col-md-7 col-xs-12" name="icon" id="icon"/>
                </div>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            <button type="button" class="btn btn-primary addOrUpdateBtn">保存</button>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade bs-example-modal-sm" style="background: rgba(52, 52, 52, 0.5);"
         id="selectRole" tabindex="-1" role="dialog"
         aria-labelledby="selectRoleLabel">
      <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="selectRoleLabel">分配资源权限</h4>
          </div>
          <div class="modal-body">
            <form id="boxRoleForm">
              <div class="zTreeDemoBackground left">
                <ul id="treeRole" class="ztree"></ul>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">

  var token = $("meta[name='_csrf']").attr("content");
  var header = $("meta[name='_csrf_header']").attr("content");

  /**
   * 添加operate
   */
  function operateFormatter(code, row, index) {
    var trMenuId = row.id;
    var operateBtn = [
      '<a class="btn btn-xs btn-primary btn-update" data-id="'
      + trMenuId + '"><i class="fa-edit"></i>编辑</a>',
      '<a class="btn btn-xs btn-danger btn-remove" data-id="' + trMenuId
      + '"><i class="fa-trash"></i>删除</a>',
    ];

    return operateBtn.join('');
  }

  $(function () {
    var options = {
      header: header,
      token: token,
      url: "/resources/list",
      getInfoUrl: "/resources/get/{id}",
      updateUrl: "/resources/edit",
      removeUrl: "/resources/remove",
      createUrl: "/resources/add",
      token: token,
      header: header,
      columns: [
        {
          checkbox: true
        },
        {
          field: 'id',
          title: '编号',
          editable: false
        },
        {
          field: 'name',
          title: '菜单名称',
          editable: false
        }, {
          field: 'type',
          title: '类型',
          editable: true
        },
        {
          field: 'url',
          title: '路径',
          editable: true
        }, {
          field: 'parentId',
          title: '父菜单',
          editable: false
        }, {
          field: 'available',
          title: '是否有效',
          editable: false,
          formatter: function (code) {
            if (code == 0) {
              return "无效";
            } else {
              return "有效";
            }
          }
        },
        {
          field: 'icon',
          title: '图标',
          editable: false
        },
        {
          field: 'createTime',
          title: '创建时间',
          editable: false,
          formatter: function (code) {
            return new Date(code).format("yyyy-MM-dd hh:mm:ss")
          }
        },
        {
          field: 'operate',
          title: '操作',
          formatter: operateFormatter //自定义方法，添加操作按钮
        }
      ],
      modalName: "菜单"
    };
    //1.初始化Table
    $.tableUtil.init(options);
    $.buttonUtil.init(options)

  });

</script>
</html>