
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"><nav id="topmenu" class="navbar navbar-default navbar-fixed-top">
  <div class="menu-box">
    <div class="pull-left">
      <ul class="list-unstyled list-inline">
        <li><span id="currentTime"></span></li>
      </ul>
      <div class="clear"></div>
    </div>
    <div class="menu-topmenu-container pull-right">
      <ul class="list-unstyled list-inline pull-left">
        <li><a href="${config.siteUrl}/about" class="menu_a" title="关于博客" data-toggle="tooltip"
               data-placement="bottom"><i class="fa-info fa-fw"></i>关于</a></li>
        <li><a href="${config.siteUrl}/links" class="menu_a" title="友情链接" data-toggle="tooltip"
               data-placement="bottom"><i class="fa-link fa-fw"></i>友情链接</a></li>
      </ul>
    </div>
  </div>
</nav>
<nav id="mainmenu" class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="menu-box">
    <div class="navbar-header">
      <span class="pull-right nav-search toggle-search" data-toggle="modal"
            data-target=".nav-search-box"><i class="fa-search"></i></span>
      <a type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
         aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="navbar-brand logo" href="#"></a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <div class="pull-left site-desc" style="line-height: 0.9;">
        <h1 style="font-size: 20px;font-weight: 700;" class="auto-shake"><a th:href="@{/}"
                                                                            data-original-title="博学之，审问之，慎思之，明辨之，笃行之。"
                                                                            data-toggle="tooltip"
                                                                            data-placement="bottom">MYBLOG</a>
        </h1>
        <p class="site-description">博学之，审问之，慎思之，明辨之，笃行之。</p>
      </div>
      <ul class="nav navbar-nav" id="titleType">
        <li>
          <a href="/" class="menu_a"><i class="fa-home"></i>首页</a>
        </li>
        <li th:each="type:${typeList}">
          <a th:href="@{'/type/' + ${type.id}}" class="menu_a"><i th:class="${type.icon}"></i><span th:text="${type.name}"></span></a>
        <li><a href="/guestbook" class="menu_a"><i class="fa-comments-alt"></i>留言板</a></li>
        <li><span class="pull-right nav-search main-search" data-toggle="modal" data-target=".nav-search-box">
          <i class="fa-search"></i></span></li>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!--<script src="/assets/js/jquery-1.8.3.min.js"></script>-->
<!--<script type="text/javascript">-->
  <!--$(function () {-->
    <!--console.log("123123");-->
    <!--loadTypes();-->
  <!--});-->

  <!--function loadTypes() {-->

    <!--$.ajax({-->
      <!--type: "get",-->
      <!--url: "/type/listAll",-->
      <!--success: function (json) {-->
        <!--console.log(json);-->
        <!--var typeList = json.data.list;-->
        <!--var titleType = $("#titleType");-->
        <!--var typeString = '';-->
        <!--for (var i = 0; i < typeList.length; i++) {-->
          <!--var type = typeList[i];-->
          <!--typeString += " <li>\n"-->
              <!--+ "          <a href=\"/type/" + type.id-->
              <!--+ "\" class=\"menu_a\"><i class=\""+type.icon+"\"></i>" + type.name + "</a>\n"-->
              <!--+ "        </li>";-->
        <!--}-->
        <!--titleType.append(typeString);-->
        <!--titleType.append("<li><a href=\"/guestbook\" class=\"menu_a\"><i class=\"fa-comments-alt\"></i>留言板</a></li>\n"-->
            <!--+ "        <li><span class=\"pull-right nav-search main-search\" data-toggle=\"modal\"\n"-->
            <!--+ "                  data-target=\".nav-search-box\"><i class=\"fa-search\"></i></span></li>")-->
      <!--}-->
    <!--});-->
  <!--}-->
<!--</script>-->