<!--about me-->
<div th:fragment="about">
  <div class="sidebar-module" style="position: relative;">
    <a href='https://gitee.com/itFanRalap/my_blog' target="_blank"
       rel="external nofollow"><img
        src='https://gitee.com/itFanRalap/my_blog/widgets/widget_1.svg?color=C71D24'
        alt='Fork me on Gitee' style="position: absolute;right: 0;"/></a>
    <h5 class="sidebar-title"><i class="fa-home icon"></i><strong>关于我</strong></h5>
    <div class="widget">
      <div id="feed_widget">
        <div class="feed-about">
          <div class="about-main">
            <div class="about-img"><a href="localhost:8000/assets/img/blog/WX.jpg"
                                      class="showImage" title="微信公众号" target="_blank"><img
                src="/assets/img/blog/WX.jpg" alt="微信公众号"></a></div>
            <div class="about-name">Ralap</div>
            <div class="about-the">我就是我,不一样的烟火,我若成佛，天下无魔，我若成魔，佛奈我何</div>
          </div>
          <div class="clear"></div>
          <ul class="widget-icon" style="align-content: center">
            <li class="tqq auto-shake">
              <a class="tag-icon"
                 href="javascript:window.open('tencent://message/?uin=843977358&Site=www.${config.domain}&Menu=yes')"
                 title="点击QQ联系我" target="blank" rel="external nofollow"><i class="en-qq"></i></a>
            </li>
            <li class="tsina auto-shake">
              <a class="tag-icon" href="" title="点击查看我的微博"
                 target="_blank" rel="external nofollow"><i class="fa-weibo"></i></a>
            </li>
            <li class="github auto-shake">
              <a class="tag-icon" href="https://github.com/Noing/my_blog" title="点击查看我的github"
                 target="_blank" rel="external nofollow"><i class="en-github"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<!--say it to you -->
<div th:fragment="say">
  <div class="sidebar-module" style="position: relative;">
    <h5 class="sidebar-title"><i class="fa-hand-right icon"></i><strong>说给你听</strong></h5>
    <div class="widget" onclick="loadHitokoto()" style="cursor:pointer ">
      <div id="feed_widget">
        <div class="feed-about">
          <div class="about-main">
            <div class="div-quote">
              <i class="fa-quote-left"></i>
              <p style="margin-left: 10px" id="hitokoto"></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--menu-->
<div th:fragment="menu">
  <div class="sidebar-module article-module hide" style="top: 0;">
    <h5 class="sidebar-title"><i class="fa-book icon"></i><strong>本文目录</strong> <i
        class="fa fa-close pull-right close-article-menu hide pointer"></i></h5>
    <div id="article-menu">
      <ul class="list-unstyled">
      </ul>
    </div>
  </div>

</div>

<!--tag-->
<div th:fragment="tag">
  <div class="sidebar-module">
    <h5 class="sidebar-title"><i class="fa-tags icon"></i><strong>文章标签</strong></h5>
    <ul class="list-unstyled list-inline" id="tagsList">

    </ul>
  </div>
  <script type="text/javascript">

    window.onload = function () {
      loadTags();
    };
    function loadTags() {
      $.ajax({
        type: "GET",
        url: '/tags/tagsList',
        success: function (json) {
          console.log(json);
          var tagsListLi = $("#tagsList");
          var tagsList = json.data;
          for (var i = 0; i < tagsList.length; i++) {
            console.log(tagsList[i].name);
            tagsListLi.append('<li class="tag-li">' +
                '<a class="btn btn-default btn-xs" href=""\n'
                + '          title="' + tagsList[i].name
                + '" data-toggle="tooltip" data-placement="bottom"\n'
                + '"> '+tagsList[i].name+'\n'
                + '        </a></li>')
          }
        },
        error: function () {
          $.tool.ajaxError();
        }
      })
    }

  </script>
</div>


